[Unit]
Description=CyberDog Joystick

[Service]
User=mi
Group=mi
WorkingDirectory=/home/mi/Desktop/cyberdog-joystick
ExecStart=/usr/bin/python3 /home/mi/Desktop/cyberdog-joystick/joystick.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target